.overlay {
    /* display: none;  */
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
}

.modal {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 200px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px; 
    border-radius: 20px;
    text-align: center;
    transition: all 0.6s;
}

.modal__close {
    position: absolute;
    top:  0; 
    right: -30px;
    font-size: 41px ; 
    line-height: 21px; 
    color: #c70101; 
    cursor: pointer; 
    transition: all 0.6s;
}

.modal__close:hover {
    transform: rotate(90deg);
}

.modal__descr {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #0d0d0d;
    text-align: center;
}

.active {
    top: 50%; 
    /* display: block; */
}
